/*Start Global Rules*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    height:1000px;
   
    font-family: 'Work Sans', sans-serif;

}

.parent{
    background-color: #eee;

}
.container{
    margin-left: auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
    
}
/*Small-Screen*/
@media (min-width:768px){
    .container{
        width:750px;
    }
}
/*Medium- Screen*/
@media(min-width:992px){
    .container{
        width:970px;
    }

}
/*Large-Screen*/
@media (min-width:1200px){
    .container{
        width:1170px;
    }
}
:root{
    --main-color:#10cab7;
    --second-color:#2c4755;
    --section-padding:60px;
    --section-background:rgb(248, 244, 244);
}
 .mainheader{
    color:#eee;
    text-align:center;
    font-size: 100px;
    margin:0px;

}
.mainheader+p{
    text-align: center;
    margin-top: -30px;
    color:var(--second-color);
    font-size: 20px;

}
@media (max-width:767px){
     .mainheader{
        font-size: 70px;
    }
     .mainheader+p{
        margin-top: -23px;
        word-spacing: 2px;
        font-size: 12px;

    
    }
}
/*End Global Rules*/
/*Start Header*/
.header .container{
 display:flex;
 justify-content: space-between;
 align-items: center;
}
.header .links{
    position:relative;
}
.header  .links:hover .icons  span:nth-child(2){
    width:100%;
}
.header .logo{
    width:80px;
}

.header .links .icons{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width:30px;
}
.header .links .icons span{
    background-color: #333;
    height:3px;
    margin-bottom: 5px;


}
.header .links .icons span:first-child{
    width:100%;

}
.header .links .icons span:nth-child(2){
    width:50%;   

}
.header .links .icons span:nth-child(3){
    width:100%;

}
.header .links ul{
    position:absolute;
    z-index: 1;
    background-color: #eee;
    width:200px;
    right:0px;
    top:40px;
    list-style: none;
    margin:0px;
    padding:0px;
    display:none;
}
.header .links:hover ul{
    display:block;
}
.header .links ul::before{
    content:"";
    border-width: 10px;
    border-style: solid;
    border-color:transparent transparent #eee transparent;
    position:absolute;
    right:5px;
    top:-20px;
}
.header .links ul li {
    padding:20px 20px 20px 10px;
}
.header .links ul li a{
    text-decoration: none;
    transition:.3s;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    color:var(--second-color);
}
.header .links ul li a:hover{
    padding-left:20px;
}
.header .links ul li:not(:nth-child(4)) {
    border-bottom-width: 1px;
    border-bottom-color: #888;
    border-bottom-style: solid;
    
}
/*End Header*/
/*Start Landing Section*/
.landing{
    background-image: url('../images/land.jpg');
    background-size:cover;
    position:relative;
    height:600px;
}
.landing .intro-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
    text-align: center;
    width:320px;
    max-width: 100%;
}
.landing .intro-text h1{
    color:var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p{
    font-weight:bold;
    line-height: 30px;
    text-transform: capitalize;
    color:#fff;
    
}
/*End Landing Section*/
/*Start Features*/
.features{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px ,1fr));
    gap:10px;

}
.features .container .feat{
    text-align: center;
    padding:60px ;
    transition:.3s;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    background-color: #fff;
}
.features .container .feat:hover{
    box-shadow: 4px 5px 20px 0 #000;
}
.features .feat i{
    color:var(--main-color);
    font-size: 40px;
}
.features .feat h3{
    text-transform: capitalize;
    color:var(--second-color);
    font-weight:300px;
}
.features .feat p{
    color:var(--second-color);
    line-height: 1.3rem;
}
/*End Features*/
/* Start Services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);    
}

.services .services-section{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-top: 60px;
    gap:20px 20px;
} 
.services .services-section .serv{
    display: flex;
    flex-direction: row;
    
}
.services .services-section .serv i{
    color:var(--main-color);
    font-size: 50px;
}
.services .services-section .serv .text{
    margin-top:0px;
    padding-top: 0px;
    padding-left:20px;
    color:var(--second-color);
}
.services .services-section .serv .text h3{
    margin-top: 0px;
}
.services .services-section .serv .text p{
    line-height: 1.7rem;
}
.services .col .image{
    position:relative;
    width:400px;
    height:500px;

   
}
.services .col .image img{
 width:100%;
 height:100%;
}
.services .col .image::before{
    content:"";
    position:absolute;
    background-color:var(--second-color);
    height:calc(100% + 80px);
    width:80px;
    right:-40px;
    top: -40px;
    z-index: -1;
}
@media (max-width:667px){
    .services .col .image{
     display: none;
    }
}
/* End Services */
/*Start portfolio*/
.portfolio{
    background-color: rgb(248, 244, 244);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .new-portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-top: 100px;
    gap:20px;
   
}
.portfolio .two{
    display: none;  
  }
.portfolio .new-portfolio .image{
    width:366.66px;
    height: 250px;
}
.portfolio .new-portfolio  .image img{
  
    width:100% ;
    height:100%;
    background-size: cover;
}

.portfolio .new-portfolio .pro{
    background-color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.portfolio .new-portfolio .pro:hover{
    box-shadow: 2px 10px 20px 0 #000;
}
.portfolio .new-portfolio .pro .text{
    padding-left: 20px;
    padding-top: 20px;

}
.portfolio .new-portfolio .pro h3{
    margin-top: 0px;
    color:var(--second-color);
}
.portfolio .new-portfolio .pro p{
    color:var(--second-color);
    font-size: 15px;
    line-height: 1.7rem;
}
.portfolio .btn{ 
     text-align: center;
     margin-top:80px;
   
    }
.portfolio button{
    text-align: center;
    background-color: rgb(248, 244, 244);
    border:1px solid var(--second-color);
    padding:15px;
    font-weight: bold;
    color:var(--second-color);
}
.portfolio button:hover{
    color: var(--main-color);
    background-color: var(--second-color);
    font-weight: bold;

      

}

/*End portfolio*/
/*Start About*/
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .about-section{
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:80px;
}
@media (max-width:991px){
    .about .about-section{
        flex-direction: column;
        text-align: center;
    } 
}
.about .about-section .image{
    width:300px;
    height:330px;
    position:relative;

}
@media (max-width:991px){
    .about .about-section .image{
        margin:0 auto 60px;
    }

}
.about .about-section img{
    max-width: 100%;
    max-height: 100%;;
}
.about .about-section .image::before{
    content:" ";
    width:80px;
    background-color: #888;
    height:calc(100% + 80px);
    position:absolute;
    top:-40px;
    z-index: -1;
    left:-40px;

}
.about .about-section .image::after{
    content:" ";
    width:80px;
    height:calc(80% );
    position:absolute;
    top:-40px;
    z-index: -1;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right:-20px;
   

}
@media (max-width:991px){
    .about .about-section .image::before,
    .about .about-section .image::after{
        display: none;
    }
    }
.about .about-section div:nth-child(2){
    width:calc(100% - 310px);
    padding-top:20px;
    padding-left: 150px;
}
@media (max-width:991px){
    .about .about-section div:nth-child(2){
        padding:0px;
        margin:auto;
    }

}
.about .about-section div:nth-child(2) p:first-of-type{
    font-weight: bold;
    line-height: 1.7rem;
    color:var(--second-color);
    font-size: 18px;

}
.about .about-section div:nth-child(2) hr{
    background-color: var(--main-color);
    width:50%;
    display:inline-block;
    height:1.5px;
    border:none;

}
.about .about-section div:nth-child(2) p:last-of-type{
    color:#777;
    line-height: 1.7rem;
}
/*End About*/
/*Start Contact*/
.contact {
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .label{
    color:var(--second-color);
    font-size: 35px;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 0px;;
}
@media (max-width:776px){
    .contact .label{
        font-size: 30px; 
    }
}   
.contact a{
    color:var(--main-color);
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
}
@media (max-width:776px){
    .contact a{
        font-size: 25px; 
    }
}
.contact .social{
    color:#777;
    margin-top:40px;
    font-size: 20px;
}
.contact .social i{
    margin-left: 10px;
    font-size: 20px;
}
@media (max-width:776px){
    .contact .social{
        font-size: 15px;
    }
    .contact .social i{
        font-size: 15px;
    }
}
.contact .social i:hover{
    color:var(--main-color);
    font-size: 20.5px;
    
}
/* End Contact */
/* Start Footer */
.footer{
    text-align:center;
    background-color:var(--second-color);
    padding:40px 10px;
    color:#fff;
}
.footer span{
    color:var(--main-color);
    font-weight: 800;
}
/* End Footer */